
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}
/* ##############Page 1 Starts ########## */
#page1 {
    position: relative;
    height: 540vh;
    width: 100%;
    background-color: white;
}

#page1>nav {
    position: fixed;
    height: 18vh;
    width: 100%;
    padding: 2vh 7.5vw;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.896);
}

#page1>nav #upper-nav {
    display: flex;
    justify-content: space-between;
}

#page1>nav #upper-nav a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}
#page1>nav #upper-nav a #nav-logo{
    font-size: 2em;
}

#page1>nav #bottom-nav {
    margin-top: 4vh;
    display: flex;
    justify-content: space-between;
}

#page1>nav #bottom-nav #bottom-nav-right {
    display: flex;
    gap: 3vw;
}
#page1>nav #bottom-nav h2{
    font-weight: 600;
}
#page1>nav #bottom-nav a {
    text-decoration: none;
    color: black;
    font-size: 14px;
}
#page1>nav #button1{
    padding: 1vh 1.2vw;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    border: 1px solid rgb(147, 142, 142);
}
#page1>nav #button2{
    padding: 1vh 1.2vw;
    border-radius: 20px;
    background-color: #0076DF;
    color: white;
    cursor: pointer;
    border: none;
}
#page1 #image1{
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    left: 50%;
    height: 26%;
    width: 100%;
    padding: 0vh 7.5vw;
    z-index: 1;
    display: flex;
    justify-content: center;
}
#page1 #image1 img{
    max-width: 97vw;
    height: auto;

}
#image1-text{
    position: absolute;
    top: 75%;
    text-align: center;
}
#image1-text h2{
    font-size: 4em;
    font-weight: 500;
}
#image1-text h3{
    cursor: pointer;
    font-size: 1.4em;
    font-weight: 550;
    color: #FF5A00;
}
#image1-text h3:hover{
    text-decoration: underline;
}

#page1 #text{
    position: absolute;
    padding: 0 7.6vw;
    top: 28%;
    text-align: center;
    font-size: 2em;
}
#page1 #text h2{
    margin-top: 7vh;
    font-weight: 600;
}
#page1 #text button{
    margin-top: 7vh;
    padding: 15px 30px;
    border-radius: 40px;
    background-color: white;
    border: 3px solid #FF5A00;
    color: #FF5A00;
    font-size: 0.6em;
    font-weight: 500;
}
#page1 #text button:hover{
    background-color: #FF5A00;
    border: none;
    color: white;
    transition: 1s;
    cursor: pointer;
}
#page1 #text #play-icon{
    margin-right: 5px;
}
#page1 #video{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 52%;
}
#page1 #video video{
    max-width: 90vw;
    
}
#page1>h2{
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%);
    font-size: 4em;
    font-weight: 500;
}
#page1>img{
    position: absolute;
    top: 85%;
    left: 10%;
    max-width: 80vw;   
}
#page1-last-btn{
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%);
    padding: 15px 30px;
    border-radius: 40px;
    background-color: white;
    border: 3px solid black;
    color: black;
    font-size: 1.3em;
    font-weight: 500;   
}
#page1-last-btn:hover{
    color: white;
    background-color: black;
    transition: 1s;
}

/* ############# Page2 starts ############ */

#page2{
    position: relative;
    height: 300vh;
    width: 100%;
    background-color: #F5F5F7;
}
 
#page2 #title{
    margin-top: 15%;
    padding-top: 100px;
    text-align: center;
    line-height: 78px;

}
#page2 #title h6{
    font-size: 2em;
    font-weight: 600;
}
#page2 #title h2{
    font-size: 4.7em;

}

#page2 #video{
    width: 100%;
    display: flex;
    justify-content: center;
}
#page2 #video video{
    max-width: 90vw;
    margin-top: 10%;
}
#page2 #explanation{
    width: 100%;
    display: flex;
    padding: 13vh 10vw;
}
#left{
    flex: 1;
    font-size: 1.3em;
    font-weight: 500;
}
#right{
    flex: 1.5;

}
#right h4{
    color: #86868B;
    font-size: 1.5em;
    font-weight: 600;
}
#right button{
    margin-top: 10%;
    color: white;
    background-color: #FF5A00;
    font-size: 1.3em;
    font-weight: 500;
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

/* ############## Page3 starts ############### */
#page3{
    position: relative;
    height: 300vh;
    width: 100%;
    background-color: white;
}
#page3-title{
    margin-top: 6%;
    padding-top: 100px;
    text-align: center;
    line-height: 78px;

}
#page3-title h6{
    font-size: 2em;
    font-weight: 600;
}
#page3-title h2{
    font-size: 4.7em;

}

#page3-video{
    width: 100%;
    display: flex;
    justify-content: center;
}
#page3-video video{
    max-width: 90vw;
    margin-top: 10%;
}
#page3-explanation{
    width: 100%;
    display: flex;
    padding: 13vh 10vw;
}
#page3-explanation #left{
    flex: 1;
    font-size: 1.3em;
    font-weight: 500;
}
#page3-explanation #right{
    flex: 1.4;

}
#right h4{
    color: #86868B;
    font-size: 1.5em;
    font-weight: 600;
}
#right button{
    margin-top: 10%;
    color: white;
    background-color: #FF5A00;
    font-size: 1.3em;
    font-weight: 500;
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

/* ###################### Page4 starts ###################### */
#page4{
    position: relative;
    height: 300vh;
    width: 100%;
    background-color: #F5F5F7;
}
#page4-title{
    margin-top: 6%;
    padding-top: 100px;
    text-align: center;
    line-height: 78px;

}
#page4-title h6{
    font-size: 2em;
    font-weight: 600;
}
#page4-title h2{
    font-size: 4.7em;

}

#page4-video{
    width: 100%;
    display: flex;
    justify-content: center;
}
#page4-video video{
    max-width: 90vw;
    margin-top: 10%;
}
#page4-explanation{
    width: 100%;
    display: flex;
    padding: 13vh 10vw;
}
#page4-explanation #left{
    flex: 1;
    font-size: 1.9em;
    font-weight: 600;
}
#page4-explanation #right{
    flex: 1.4;

}
#right h4{
    color: #86868B;
    font-size: 1.5em;
    font-weight: 600;
}
#right button{
    margin-top: 10%;
    color: white;
    background-color: #FF5A00;
    font-size: 1.3em;
    font-weight: 500;
    padding: 15px 40px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

/* ###################### Page5 starts ###################### */
#page5{
    position: relative;
    height: 300vh;
    width: 100%;
    background-color: white;
}
#page5-title{
    margin-top: 6%;
    padding-top: 100px;
    text-align: center;
    line-height: 78px;
}
#page5-title h6{
    font-size: 2em;
    font-weight: 600;
}
#page5-title h2{
    font-size: 4.7em;

}

#page5-video{
    width: 100%;
    display: flex;
    justify-content: center;
}
#page5-video video{
    max-width: 90vw;
    margin-top: 10%;
}
#page5-explanation{
    width: 100%;
    display: flex;
    padding: 13vh 10vw;
}
#page5-explanation #left{
    flex: 1;
    font-size: 1.4em;
    font-weight: 500;
}
#page5-explanation-right{
    display: flex;
    flex-direction: column;
    flex: 1.4;

}
#page5-explanation-right h4{
    color: #86868B;
    font-size: 1.5em;
    font-weight: 400;
}

#page5-explanation-right  a{
    padding-top: 20px;
    font-size: 25px;
    text-decoration: none;
}
#page5-explanation-right  a i{
    rotate: 45deg;
}
#page5-explanation-right  a:hover{
    text-decoration: underline;
}

#page5-explanation-right button{
    margin-top: 10%;
    color: white;
    background-color: #FF5A00;
    font-size: 1.3em;
    font-weight: 500;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}